# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
 - List popular languages for Data Science
 - List commonly used libraries
 - Evaluating arithmetic expressions

### Some of the popular languages that Data Scientists use are:
1) Python
2) Scala
3) R

### Some of the commonly used libraries used by Data Scientists include:
1) Pandas
2) Numpy
3) Scikit

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [11]:
# This a simple arithmetic expression to mutiply then add integers
3*4+5

17

In [21]:
# This will convert 200 minutes to hours by diving by 60
hours = 200/60
hours

3.3333333333333335

## Author
Muhammad Zohaib Bin Jamil